<div class="card-row">
  <div class="card-col">
    <nb-card size="tiny" status="danger">
      <nb-card-header>Mental Health</nb-card-header>
      <nb-card-body>{{card1ComponentModel.overallScore}}</nb-card-body>
      <nb-card-footer>{{card1ComponentModel.buttonText}}</nb-card-footer>
    </nb-card>
    <nb-card size="tiny" status="success">
      <nb-card-header>Adjustments</nb-card-header>
      <nb-card-body>{{card2ComponentModel.overallScore}}</nb-card-body>
      <nb-card-footer>{{card2ComponentModel.buttonText}}</nb-card-footer>
    </nb-card>
  </div>
  <div class="card-col">
    <nb-card size="tiny" status="warning">
      <nb-card-header>Work Self Confidence</nb-card-header>
      <nb-card-body>{{card3ComponentModel.overallScore}}</nb-card-body>
      <nb-card-footer>{{card3ComponentModel.buttonText}}</nb-card-footer>
    </nb-card>
    <nb-card size="tiny" status="primary">
      <nb-card-header>Organisational Culture</nb-card-header>
      <nb-card-body>{{card4ComponentModel.overallScore}}</nb-card-body>
      <nb-card-footer>{{card4ComponentModel.buttonText}}</nb-card-footer>
    </nb-card>
  </div>
</div>
