<div class="card-row">
  <!-- First Col-->
  <div class="card-col">
    <!--Mental health card-->
    <nb-reveal-card>
      <nb-card-front>
        <nb-card size="small" status="danger">
          <nb-card-header>Mental Health</nb-card-header>
          <nb-card-body>
            <div class="card1-font">{{card1ComponentModel.overallScore}}</div>
            <div class="additionalText">{{card1ComponentModel.description}}</div>
          </nb-card-body>
          <nb-card-footer>
            <div class="bold">{{card1ComponentModel.buttonText}}</div>
          </nb-card-footer>
        </nb-card>
      </nb-card-front>
      <nb-card-back>
        <nb-card size="small" status="danger">
          <!--FIRST BACK CARD FOR MENTAL HEALTH ID 0-->
        </nb-card>
      </nb-card-back>
    </nb-reveal-card>

    <!--Adjustments card-->
    <nb-reveal-card>
      <nb-card-front>
        <nb-card size="small" status="success">
          <nb-card-header>Adjustments</nb-card-header>
          <nb-card-body>
            <div class="card2-font">{{card2ComponentModel.overallScore}}</div>
            <div class="additionalText">{{card2ComponentModel.description}}</div>
          </nb-card-body>
          <nb-card-footer>
            <div class="bold">{{card2ComponentModel.buttonText}}</div>
          </nb-card-footer>
        </nb-card>
      </nb-card-front>
      <nb-card-back>
        <nb-card size="small" status="danger">
          <!--SECOND CARD BACK FOR ADJUSTMENTS ID 1-->
        </nb-card>
      </nb-card-back>
    </nb-reveal-card>
  </div>

  <!--Second Col-->
  <div class="card-col">
    <!--Work self confidence card-->
    <nb-reveal-card>
      <nb-card-front>
        <nb-card size="small" status="warning">
          <nb-card-header>Work Self Confidence</nb-card-header>
          <nb-card-body>
            <div class="card3-font">{{card3ComponentModel.overallScore}}</div>
            <div class="additionalText">{{card3ComponentModel.description}}</div>
          </nb-card-body>
          <nb-card-footer>
            <div class="bold">{{card3ComponentModel.buttonText}}</div>
          </nb-card-footer>
        </nb-card>
      </nb-card-front>
      <nb-card-back>
        <nb-card size="small" status="danger">
          <!--THIRD CARD BACK FOR WORK SELF CONFIDENCE ID 2-->
        </nb-card>
      </nb-card-back>
    </nb-reveal-card>

    <!--Organizational Culture-->
    <nb-reveal-card>
      <nb-card-front>
        <nb-card size="small" status="primary">
      <nb-card-header>Organisational Culture</nb-card-header>
      <nb-card-body>
        <div class="card4-font">{{card4ComponentModel.overallScore}}</div>
        <div class="additionalText">{{card4ComponentModel.description}}</div>
      </nb-card-body>
      <nb-card-footer>
        <div class="bold">{{card4ComponentModel.buttonText}}</div>
      </nb-card-footer>
    </nb-card>
      </nb-card-front>
      <nb-card-back>
        <nb-card size="small" status="danger">
          <!--THIRD CARD BACK FOR ORGANIZATIONAL CULTURE ID 3-->
        </nb-card>
      </nb-card-back>
    </nb-reveal-card>
  </div>
</div>
